.adobe/
.cache/
.lyrics/
.macromedia/
.Skype/
.steam*/
.vim/bundle/
.vim/syntax/
Anime/
Desktop/
Documents/
Downloads/
Pictures/
Movies/
Music/
devel/
.bash_history
.pulse-cookie
.steampath
.steampid
.Xauthority
*.pid
