.adobe/
.cache/
.config/mpd/playlists/
.config/Skype/
.lyrics/
.macromedia/
.Skype/
.steam*/
.vim/bundle/
.vim/syntax/
Anime/
Desktop/
Documents/
Downloads/
Pictures/
Movies/
Music/
aur/
devel/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/socket
.config/mpd/state
.config/mpd/sticker.sql
.ICEauthority
.bash_history
.pulse-cookie
.steampath
.steampid
.wallpaper
.Xauthority
*.pid
