.adobe/
.cache/
.lyrics/
.macromedia/
.steam*/
.vim/bundle/
.vim/plugin/
.vim/syntax/
.xsession*
Anime/
Desktop/
Documents/
Pictures/
Movies/
Music/
.bash_history
.pulse-cookie
.steampath
.steampid
*.pid
